@model IEnumerable<Movie>;

@{
    ViewData["Title"] = "Movie Shop";
}

<div class="container-fluid">
    <div class="row">
        @foreach(var item in Model)
        {
            <partial name="_MovieCard" model="item"/>
        }
    </div>
</div>