<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Movie Shop🎞️</a>

                <div class="btn-group">
                    <button class="btn btn-lg dropdown-toggle bg-dark border-0 text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        GENRES
                    </button>
                    <ul class="dropdown-menu text-white">
                        @await Component.InvokeAsync("GenreList")
                    </ul>
                </div>
            </div>
            <div>
                <button class="btn btn-lg bg-dark text-white border-white" type="button" aria-expanded="false">Login</button>
                <button class="btn btn-lg bg-dark text-white border-white" type="button" aria-expanded="false">Register</button>
            </div>
        </div>
    </nav>
</header>
